# The purpose of gitignore files is to ensure that certain files not tracked by Git remain untracked.
# To stop tracking a file that is currently tracked, use 
# git rm --cached [gitignore item]

# Example: git rm --cached public/js/app.js

# https://git-scm.com/docs/gitignore

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
bootstrap/cache/**
!bootstrap/cache/READme.md
/storage/framework/cache/**/b
/storage/framework/views
/storage/logs
/storage/framework/sessions/**
!/storage/framework/sessions/READme.md
public/js/app.js
public/js/robust-admin.js
public/js/robust-admin-init.js
public/css/app--v2.css
public/css/gcis.css
public/css/jqwidgets
public/css/robust-admin.css
storage/framework/cache/data/**